<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503479683074-lbgfe84jqv8aqntr0160762bq4ktl3le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503479683074-lbgfe84jqv8aqntr0160762bq4ktl3le</string>
	<key>API_KEY</key>
	<string>AIzaSyBHshSIKQFPKK7_oGN7nKU5VcS091Zm6a4</string>
	<key>GCM_SENDER_ID</key>
	<string>503479683074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.eseg.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>eseg-firebase-tutorial-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>eseg-firebase-tutorial-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503479683074:ios:e467a568e1c01c987a3f1b</string>
</dict>
</plist>